PORT=1002
MONGO_URI=mongodb://192.168.0.59:27017/softy
JWT_SECRET=
ADMIN_EMAIL=admin@softy.local
ADMIN_PASSWORD=1234
SEED_STOCK=12
PUBLIC_URL=http://localhost:1002
FRONTEND_URL=http://localhost:1001
CORS_ORIGINS=http://localhost:1001,http://127.0.0.1:1001
